
@{
    ViewData["Title"] = "CompanyProfile";
}

<h1>CompanyProfile</h1>


<form asp-action="CompanyProfile" method="post">
    <input type="submit"
           class="btn btn-outline-primary"
           name="actiontype"
           value="Logout" />
</form>