@model MARS_MELA.Models.EnterPassword
@{
    ViewData["Title"] = "EnterPassword";
}
@if (TempData["Error"] != null)
{
    <script>
        alert("@TempData["Error"]");
    </script>
}



<form asp-action="EnterPassword" asp-controller="Home" method="post">
    <div class="container">

        <br /><br />
        <div class="row">
            <div class="col-sm-4">
                @if (TempData["Mobile"] != null)
                {
                    <input asp-for="MobileNo" class="form-control" value="@TempData["Mobile"]" readonly />
                }
                else
                {
                    <input asp-for="MobileNo" class="form-control" placeholder="MobileNo" />
                    <span asp-validation-for="MobileNo" class="text-danger"></span>
                }
            </div>
        </div>
        <br /><br />




        <div class="row">
            <div class="col-sm-4">
                <input asp-for="PasswordHash" class="form-control" placeholder="Enter Password" />
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-sm-2">
                <a asp-controller="Home" asp-action="Verification" class="btn btn-link p-0" title="Reset your password">Forget Password?</a>
            </div>

            <div class="col-sm-2">
                <p>Not a User  <a asp-controller="Home" asp-action="SignUP" class="btn btn-link p-0" title="If Not a User Click Here">SignUP?</a></p>
            </div>


        </div>
        <br />





        <div class="row">
            <div class="col-sm-4">
                <input type="submit" class="btn btn-outline-primary  w-100" value="Submit" />
            </div>
        </div>

    </div>
</form>

